.CTA-container {
  position: relative;
}

.CTA-container::before {
  content: "";
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  background-image: url("../assets/astronaut_2.jpg");
  background-size: cover; /* adjust as needed */
  background-position: 50% 30%;
  opacity: 0.2;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
}
